---
const today = new Date();
---
<hr class = "border-t-3 border-black-800 my-4">
<footer class="footer footer-center block mb-5 pt-5">
  <div>
    <h4 class="text-2xl py-3 text-black-700">Let's keep in touch!</h4>
  <div class="flex h-7 w-40 space-x-5">
  <a href ="https://www.linkedin.com/in/aryaman-khandelwal/">
    <img src="../linkedin.svg">
  </a>
  <a href ="https://github.com/Aryaman-13">
    <img src="../github.svg">
  </a>
  <a href ="mailto:aryaman13jan@gmail.com">
    <img src="../mail.svg">
  </a>
</div>
  <h6 class="text-xl py-8 text-slate-700">Built using Astro. Made by Aryaman. 2023.</h6>
</div>

</footer>